#root {
  max-width: 1280px;
  margin: 0 auto;
}

h1 {
  color: #333;
  font-weight: 800;
  font-size: 40px;
}

.library-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.library {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 20px;
}

.component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding-bottom: 30px;
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
}

.alerts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.badges {
  display: flex;
  align-items: center;
  gap: 20px;
}

h2, h3 {
  color: #333;
}

.card-price {
  color: #333;
  font-weight: 500;
} 






